<div
  #placeholder
  id="placeholder-{{key}}"
  class="placeholder"
>
  <div
    #outer
    id="outer-{{key}}"
    class="outer"
    [ngClass]="{fullscreenModeOn: isFullscreen, 'touchable': deviceIsTouchable}"
  >

    <video
      #player
      width="{{width}}"
      height="{{height}}"
      poster="{{video.poster}}"
      controls
      preload="auto"
    >
      <source *ngFor="let src of video.sources" src="{{src}}" type="{{ defineType(src) }}">
    </video>

    <div
      [ngClass]="{'show': showControls, 'full-hidden': duration === 0 }"
      class="control-container"
    >
      <div class="container-bgrd">
        <div class="filler"></div>
      </div>
      <div class="timeline">
        <canvas
          #timelineMarks
          id="timelineMarks"
          class="timeline-marks"
          width="{{p.offsetWidth - 10}}"
          height="scaleHeight"
        ></canvas>
        <mat-slider
          #timeline
          min="0"
          [max]="duration"
          step="0.01"
          [value]="roundUpTo(currentTime, timeAccuracy)"
          (input)="onTimeSeekChange($event)"
        >
        </mat-slider>
      </div>
      <div class="controls">
        <div class="control-button play">
          <input id="playPause" [(ngModel)]="playPause" type="checkbox" class="switchPlayPause" />
          <label for="playPause">
            <i class="fa fa-play"></i>
            <i class="fa fa-pause"></i>
          </label>
        </div>
        <div class="control-button mute">
          <input id="mute" [(ngModel)]="p.muted" type="checkbox" class="switchMute" />
          <label for="mute">
            <div class="volume-on">
              <i *ngIf="p.volume <= 0.59" class="fa fa-volume-down"></i>
              <i *ngIf="p.volume > 0.59" class="fa fa-volume-up"></i>
            </div>
            <i class="fa fa-volume-off"></i>
          </label>
        </div>
        <div class="volume-slider">
          <mat-slider
            min="0"
            max="1"
            step="0.01"
            thumbLabel
            [displayWith]="formatLabel"
            [(ngModel)]="p.volume"
            value="volumeValue"
            (input)="onVolumeChange($event)"
          >
          </mat-slider>
        </div>
        <div class="display">{{currentTime | msToTime}} / {{duration | msToTime}}</div>
        <div class="control-button fullscreen" (click)="onFullScreenModeChange()">
          <i class="fa fa-expand" *ngIf="!isFullscreen"></i>
          <i class="fa fa-compress" *ngIf="isFullscreen"></i>
        </div>
      </div>
    </div>
  </div>
</div>
