.video-description {
  margin:0 0 24px 0;
}
.video-card {
  display:flex;
  justify-content:space-between;
}
.video-data {
  margin:0 0 0 20px;
}
.video-meta {
  display:flex;
  margin:0 0 12px 0;
}
.viewed {
  margin:0 24px 0 0;
}
.liked {
  margin:0 24px 0 0;
}
.comments {
  margin:0 0 0 auto;
}
